<!-- Footer -->
<div id="footer" style="background-color: #222; border-top: 4px solid #666;">
  
  <footer class="row">
    <div class="large-12 columns">
      <div class="row" style="margin-top:25px;">
        <div class="large-8 columns hide-for-small">
          <p style="color:#3e94d1; text-transform:uppercase; letter-spacing:1.5px">&copy; 2013 Flash360 Consulting, LLC.</p>
        </div>
        <div class="large-4 columns">
            <ul class="inline-list right" style="font-size: 1.5em;">
<!--             <% if current_user %>
              <li><a href="<%= logout_path %>"><i class="general foundicon-lock"></i></a></li>
            <% else %>
              <li><a href="<%= login_path %>" style="color:#e9e9e9;"><i class="general foundicon-unlock"></i></a></li>
            <% end %> -->
            <li><a href="http://www.github.com/jeffhigham"><i class="social foundicon-github"></i></a></li>
            <li><a href="http://www.facebook.com/flash360tech"><i class="social foundicon-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/flash360tech"><i class="social foundicon-twitter"></i></a></li>
            <li><a href="http://www.linkedin.com/in/jeffhigham"><i class="social foundicon-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

</div>
<!-- /Footer -->