<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns ">
    <ul data-orbit >
      <li><a href="#"><img class="image_rounded" src="/webdev-slider.png" alt="Website Development - PHP, Ruby on Rails, JQuery, HTML5, CSS"/></a></li>
      <li><a href="#"><img class="image_rounded" src="/cloud-slider.png" alt="Cloud Computing - AWS, Heroku, Linode, RackSpace"/></a></li>
      <li><a href="#"><img class="image_rounded" src="/linuxadmin-slider.png" alt="Server Administration - Linux, Solaris, VMware, Web Servers, Database Servers"/></a></li>
    </ul>
    </div>
  </div>
   <br/> 
<div class="row ">
  <div class="large-6 columns ">
    <h4><img  style="height:60px" src="/Ruby_on_Rails-logo.png"/> Ruby on Rails</h4><hr/>
    <p style="text-align:justify">Developing websites using the <a href="http://en.wikipedia.org/wiki/Ruby_on_Rails">Ruby on Rails</a> framework is very fulfilling for me as a developer, and can be cost-effective for you as my client.  With many of the architecture decisions (MVC, CoC, DRY, REST) in place before the first line of code is written, Rails hits the ground running.  Rails can make it possible to put together an advanced, database-driven prototype in a matter of hours and a mature product in a matter of weeks.  At the heart of a Rails project is the <a href="https://www.ruby-lang.org/en/">Ruby programming language</a>.  It is highly intuitive, flexible, and robust and can make quick work of the most complicated coding tasks.  Will your hosting provider support Rails websites?  It has been my experience that most major hosting providers do. If your provider does not, I can help you find one that does.</p> 
  </div>
  <div class="large-6 columns ">
    <h4><img style="height:60px" src="/php-logo.jpeg"/> PHP</h4><hr/><p style="text-align:justify"><a href="http://php.net/">PHP</a> was my first introduction website development in the early 2000s.  Today, PHP is one of the most popular programming languages in used for web development and one I have spent a great deal of time using. <a href="http://en.wikipedia.org/wiki/CakePHP">CakePHP</a> is a MVC framework that adds Rails-like functionality to PHP.   This can be a great choice to save some time writing a custom, from the ground up application. Many of my clients prefer to use the <a href="http://en.wikipedia.org/wiki/WordPress">Wordpress content management system</a> for their website.  Although this is written in PHP, it is designed primarily to be hands-off the code offering pre-built themes, and plugins as an alternative.  Under the hood, Wordpress can be customized endlessly.  If you need a custom plugin, theme, or just a few tweaks I can take care of those for you.</p>
  </div>
</div><br/>
<div class="row">
  <div class="large-12 columns">
    <h4><img style="height:60px" src="/cloud_icon_1.png"/> Cloud Hosting | Systems Administration</h4><hr/>
    <p style="text-align:justify">I would love to spend all of my time developing your website and making it do awesome things for you (believe me I really would), but that will all go to waste unless the world can see it.  This is where I get to use my secret arsenal of weaponry. As it turns out, working in the world of tech for 12 years one can gain a broad skill set.  Unlike many developers, I really do know my way around the technologies that make the Internet go. I can transfer your domain name and email accounts, build a cloud-based secure Linux hosting environment, scale your site to meet demand, and much more.  I've been on the other side of the fence with all of these technologies and know how they work behind the scenes at your hosting provider.
    </p>
  </div>
</div><br/>

<!-- Contact Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="radius panel">
        <h4>Let's Talk!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>I would love to help you with your next project.  Drop me a line and let me know what you need.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" data-reveal-id="contactModal" class="radius button right">Get in touch</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>