<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns ">
    <ul data-orbit >
      <li><a href="#"><img class="image_rounded" src="/webdev-slider.png" alt="Website Development - PHP, Ruby on Rails, JQuery, HTML5, CSS"/></a></li>
      <li><a href="#"><img class="image_rounded" src="/cloud-slider.png" alt="Cloud Computing - AWS, Heroku, Linode, RackSpace"/></a></li>
      <li><a href="#"><img class="image_rounded" src="/linuxadmin-slider.png" alt="Server Administration - Linux, Solaris, VMware, Web Servers, Database Servers"/></a></li>
    </ul>
    </div>
  </div>
   <br/> 
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="radius panel">
        <h4>Let's Talk!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>I would love to help you with your next project.  Drop me a line and let me know what you need.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" data-reveal-id="contactModal" class="radius button right">Get in touch</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>