<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns ">
    <ul data-orbit >
      <li><a href="#"><img src="/webdev-slider.png" /></a></li>
      <li><a href="#"><img src="/cloud-slider.png" /></a></li>
      <li><a href="#"><img src="/linuxadmin-slider.png" /></a></li>
    </ul>
    </div>
  </div>
   <br/> 
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="radius panel">
        <h4>Let's Talk!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>I'd like to hear what you have on the table and how I can help.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" data-reveal-id="contactModal" class="radius button right">Get in touch</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>