 <div class="row">

  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        
        <div class="large-3 small-6 columns">
          <a href="http://www.nlgshow.com"><img src="/nlgshow.png" /></a>
        </div>

        <div class="large-3 small-6 columns">
          <a href="http://www.tangosquared.com"><img src="/tango.png" /></a>
        </div>

        <div class="large-3 small-6 columns">
          <a href="http://www.petmexrx.com"><img src="/rxcard.png" /></a>
        </div>

        <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail" />

        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>