<h5 class="subheader">University of Phoenix</h5>
<h6 class="subheader">Bachelor of Science, Information Technology, 2005-2007</h6>
<hr/>

<h5 class="subheader">University of Colorado at Denver</h5>
<h6 class="subheader">Computer Science, 2000-2004</h6>