<%
software_experience = [ 
'Ruby',
'PHP',
'Perl',
'C++',
'JQuery',
'NodeJS',
'CoffeeScript',
'CSS',
'SCSS',
'Agile Web Development',
'RESTful WebServices',
'Subversion',
'Git',
'Mercurial',
'Photoshop',
'Illustrator',
'Heroku',
'Foundation 4',
'Twitter Bootstrap',
]

systems_experience = [ 
'Linux',
'Solaris',
'MySQL',
'Apache',
'Nginx',
'Weblogic / SOA',
'Tomcat',
'Systems Architecture',
'Virtualization',
'Shell Scripting',
'DTrace',
'High Availability',
'Clustering',
'Oracle RAC',
'Linux HA',
'MemCached',
'Cloud Computing',
'Amazon Web Services (AWS)',
'Linode',
'NFS / FC / iSCSI',
'SAN Storage',
'ZFS / EXT / XFS',
'IPTables / IPFilter',
'MD / LVM',
'LDAP / NIS',
'Puppet / CFEngine'
]
%>
<h4 class="subheader">Software</h4>
<% software_experience.each do |e| %>
<span class="radius secondary label"><%= e %></span>
<% end %>
<p/>
<h4 class="subheader">Systems</h4>
<% systems_experience.each do |e| %>
<span class="radius secondary label"><%= e %></span>
<% end %>
<p/>