<%
experience = [ 
'Linux',
'Solaris',
'MySQL',
'Systems Architecture',
'Cloud Computing',
'Virtualization',
'Ruby',
'PHP',
'Perl',
'C++',
'Shell',
'JQuery',
'CoffeeScript',
'CSS',
'SCSS',
'Agile Web Development',
'RESTful WebServices',
'Subversion',
'Git',
'Mercurial',
'Photoshop',
'Illustrator'
]
%>
<% experience.each do |e| %>
<span class="radius secondary label"><%= e %></span>
<% end %>
<p/>