<h5 class="subheader"><a href="http://www.tangosquared.com" data-dropdown="tangosquared" data-options="is_hover:true">TangoSquared</a></h5>
		<h6 class="subheader">PHP Developer, Cloud Hosting, Technology Consultant</h6>
			<P>My involvement with TangoSquared has been a great experience. They do amazing design work and are making a name for themselves as a boutique design and development firm.  My experience as a developer and systems engineer brought us into a working relationship.  I manage their cloud hosting platform and sling PHP code for custom WordPress plugins and back-end functionality.</P><hr/>
		<ul id="tangosquared" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.tangosquared.com" target="_blank"><img src="/tango.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://freedrugcardsite.com" data-dropdown="freedrugcardsite" data-options="is_hover:true">PharmaStrategies, LLC</a></h5>
		<h6 class="subheader">Ruby on Rails Developer</h6>
			<P>PharmaStrategies provides a discount pharmacy card for individuals without insurance. Their site runs on Ruby on Rails.  My work for them includes a RESTful API for drug and pharmacy lookup, i18n localization into Spanish, and Rails upgrades.</P><hr/>
		<ul id="freedrugcardsite" class="f-dropdown small " data-dropdown-content>
			  <a href="http://freedrugcardsite.com" target="_blank"><img src="/rxcard.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.nlgshow.com" data-dropdown="nlgshow" data-options="is_hover:true">National Lawn &amp; Garden Show</a></h5>
		<h6 class="subheader">Tcl, PHP, Perl Developer / Systems Engineering</h6>
			<P>NLGS puts on a large networking event every June for Buyers, Vendors, and Manufacturing Representatives in the Lawn & Garden and Pet Products industries.  The event requires complicated scheduling for 10-minute meetings between Buyers and Vendors based on pre-defined preference selections. These meetings rotate all day every 10 minutes with the whole event lasting 3-4 days.  The scheduling platform is a mix of PHP, Perl, SQL, and TCL.  I help maintain this code and provide on-site support during the event each year.</P><hr/>
		<ul id="nlgshow" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.nlgshow.com" target="_blank"><img src="/nlgshow.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.cyandia.com" data-dropdown="cyandia" data-options="is_hover:true">Cyandia</a></h5>
		<h6 class="subheader">PHP Developer / Cloud Engineer</h6>
			<P>Cyandia.me provides a rich mobile experience centered on entertainment with a strong social component. I provided back-end PHP development and managed their AWS environment.</P><hr/>
		<ul id="cyandia" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.cyandia.com" target="_blank"><img src="/cyandia.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.zmanda.com" data-dropdown="zmanda" data-options="is_hover:true">Zmanda, Inc</a></h5>
		<h6 class="subheader">Software Developer / Systems Engineering</h6>
			<P>Zmanda provides Enterprise, MySQL, and Cloud Backups solutions and has now joined forces with Carbonite. As a backup solutions provider, they have very complex infrastructure needs. They have unique challenges providing backup solutions on heterogeneous platforms.  My roles was to help engineer and manage a virtual environment for product development and testing. With the aid of scripting and custom software I was able to automate much of the build up, test, and tear down in these environments.</P><hr/>
		<ul id="zmanda" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.zmanda.com" target="_blank"><img src="/zmanda.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://web.archive.org/web/20061206031646/http://www.ninesystems.com/"  data-dropdown="ninesystems" data-options="is_hover:true">NineSystems (Akamai)</a></h5>
		<h6 class="subheader">PHP, Perl Software Developer</h6>
			<P>At NineSystems (now owned by Akamai), I was part of a development team supporting their in-house streaming platform: StreamOS. This was written in PHP, Perl, and C although most of my time was in PHP, and Perl. I developed a stream testing platform, server monitoring platform, and change management system in addition to supporting StreamOS directly.</P><hr/>
		<ul id="ninesystems" class="f-dropdown small " data-dropdown-content>
			  <a href="http://web.archive.org/web/20061206031646/http://www.ninesystems.com/" target="_blank"><img src="/ninesystems.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.monsonboards.com"  data-dropdown="monsonboards" data-options="is_hover:true">Monson Boards</a></h5>
		<h6 class="subheader">PHP Developer</h6>
			<P>Monson Boards began as an OEM snowboard manufacturer and has since expanded into other markets.  I worked for them developing a custom order tracking systems for their OEM customers. This was written from the ground up with PHP/MySQL.</P>
		<ul id="monsonboards" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.monsonboards.com" target="_blank"><img src="/monsonboards.png"/></a>
		</ul>