		<h5 class="subheader"><a href="http://www.oracle.com" data-dropdown="oracle" data-options="is_hover:true">Oracle, Inc</a></h5>
		<h6 class="subheader">Senior Software Engineer</h6>
			<P>With the acquisition of Sun Microsystems, Oracle has a very competitive hardware and engineered systems offering including the Oracle ZFS Storage Appliance. The appliance supports a wide range of protocols including NFS, CIFS, WebDAV, iSCSI, FC, FTP, LDAP, Active Directory, Shadow Migration, Replication, Deduplication, Snapshots, Analytics, and more. I work as a Software Engineer supporting the propriety code that manages the appliance configuration, clustering, and user interface. This is a very complex multi-threaded userland kernel written in C. The management interface is comprised of a very interactive web 2.0 implementation, in addition to a CLI interface.</P><hr/>
		<ul id="oracle" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.oracle.com" target="_blank"><img src="/oracle.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.comcast.com" data-dropdown="comcast" data-options="is_hover:true">Comcast, Inc</a></h5>
		<h6 class="subheader">Senior Systems Engineer, Contractor</h6>
			<P>Comcast provides high-speed cable Internet service, Television service, and online media delivery.  As a Systems Engineer I managed much of the infrastructure supporting the business. This included Oracle Real Application Cluster (RAC) on Linux, Veritas (Symantec) Cluster on Solaris Hardware. As a contractor, my work focused on building out new Linux systems on Oracle RAC and migrating legacy Sun systems to those systems.</P><hr/>
		<ul id="comcast" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.comcast.com" target="_blank"><img src="/comcast.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.wildblue.com" data-dropdown="wildblue" data-options="is_hover:true">WildBlue Communications, Inc</a></h5>
		<h6 class="subheader">Senior Systems Engineer</h6>
			<P>WildBlue Communications is a pioneer in high-speed Internet service using Satellite technology.  The target market is the large percentage of the population without access to high-speed Internet. The company used multiple satellites that communicate with strategically located terrestrial stations tapped into the Internet backbone. I worked to support and architect new solutions to all aspects of the business.</P><hr/>
		<ul id="wildblue" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.wildblue.com" target="_blank"><img src="/wildblue.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.eds.com" data-dropdown="eds" data-options="is_hover:true">EDS, Inc</a></h5>
		<h6 class="subheader">Senior Systems Engineer, Contractor</h6>
			<P>EDS (now owned by HP) is a professional services company. I was positioned as a contractor with EDS to support the Sun Microsystems account in Colorado. My work was specifically targeted at migrating systems from the recent acquisition of StorageTek by Sun.</P><hr/>
		<ul id="eds" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.eds.com" target="_blank"><img src="/eds.png"/></a>
		</ul>

		<h5 class="subheader"><a href="http://www.earthlink.com" data-dropdown="earthlink" data-options="is_hover:true">Earthlink, Inc</a></h5>
		<h6 class="subheader">Systems Administrator</h6>
			<P>Earthlink was one of the largest dial-up Internet service providers of the first Internet bubble. It was exciting to work for an ISP during this time as the work was fast-paced and offered a lot of freedom to learn.  I worked under senior staff supporting Oracle database servers on Solaris 6 - Solaris 9, Sun Directory Server, Apache Webservers, Sendmail, and many other systems.</P><hr/>
		<ul id="earthlink" class="f-dropdown small " data-dropdown-content>
			  <a href="http://www.earthlink.com" target="_blank"><img src="/earthlink.png"/></a>
		</ul>
