<div class="section-container auto" data-section>
  <section id="software_experience">
    <p class="title" data-section-title><a href="#software_experience">Software</a></p>
    <div class="content" data-section-content>
		<%= render "software_experience" %>
	</div>
</section>
  <section id="systems_experience">
    <p class="title" data-section-title><a href="#systems_experience">Systems</a></p>
    <div class="content" data-section-content>
    	<%= render "systems_experience" %>
    </div>
    </section>
</div>