
<h5 class="subheader"><a href="http://www.tangosquared.com">TangoSquared</a></h5>
<h6 class="subheader">PHP Developer, Cloud Hosting, Technology Consultant</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P><hr/>

<h5 class="subheader">PharmaStrategies, LLC</h5>
<h6 class="subheader">Ruby on Rails Developer</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P><hr/>

<h5 class="subheader">National Lawn &amp; Garden Show</h5>
<h6 class="subheader">Tcl, PHP, Perl Developer / Systems Engineering</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P><hr/>

<h5 class="subheader">Cyandia</h5>
<h6 class="subheader">Software Development / Systems Engineering</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>

<h5 class="subheader">Malden Labs</h5>
<h6 class="subheader">Software Development / Systems Engineering</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>

<h5 class="subheader">Zmanda, Inc</h5>
<h6 class="subheader">PHP Software Developer / Systems Engineering</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>

<h5 class="subheader">LinuxCertified</h5>
<h6 class="subheader">Linux Systems Engineering</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>

<h5 class="subheader">EDS</h5>
<h6 class="subheader">Solaris Systems Engineering, Perl Software Developer</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>

<h5 class="subheader">NineSystems (Akamai)</h5>
<h6 class="subheader">PHP, Perl Software Developer</h6>
	<P>Consultant for startup company through various phases of product development. Supported all aspects of the business from hardware, networking, OS, software stack. Leveraged virtualization on Solaris, Linux, and VMWare to build and maintain a robust and highly available development and POC environments.</P>