<div class="section-container auto" data-section>
  <section>
    <p class="title" data-section-title><a href="#Software">Software</a></p>
    <div class="content" data-section-content>
		<%= render "software_experience" %>
	</div>
</section>
  <section>
    <p class="title" data-section-title><a href="#systems">Systems</a></p>
    <div class="content" data-section-content>
    	<%= render "systems_experience" %>
    </div>
    </section>
</div>