<% content_for :title do %>
  Experience, Expertise, Education
<% end %>
<!-- Breadcrums -->
<div class="row">
  <div class="12-large columns">
    <ul class="breadcrumbs">
      <li><%= link_to 'Home', home_index_path %></li>
      <li class="current"><a href="#">Experience</a></li>
    </ul>
  </div>
</div>

<div class="row hide-for-small">
  <div class="large-3 columns" >
    <img class="image_rounded" src="/avatar.jpg"/>
  </div>
  <div class="large-9 columns">
    <div class="radius panel">
      <h3>About Flash360 Consulting</h3>
      <blockquote>I love high-performance operating systems, finding solutions to complicated technical problems, and writing good code.  I have a deep appreciation for quality design work and user experience, especially the difficulty in accomplishing both.  I slung my first line of Perl code in 1998, authored my first PHP website in 2000, and haven't looked back since. Technology has covered a lot of ground over the past 13+ years and I have enjoyed being along for the ride. We now have amazing tools at our disposal - Ruby on Rails, JQuery, Node.js, PhoneGap, Cloud-based web hosting, RESTful APIs, and too many more to mention.   My goal is to continue to innovate with the industry and hopefully help you do the same. So, please take a moment to see what I've been up to and let me know how I can help.
      </blockquote>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Experience</h3>
    <%= render "work_history" %>
    <h3>Expertise</h3>
    <%= render "expertise" %>
    <h3>Education</h3>
    <%= render "education" %>
  </div>
</div>