<div class="row">
  <div class="large-3 columns hide-for-small" >
    <img class="image_rounded" src="/avatar.jpg"/>
  </div>
  <div class="large-9 columns">
    <div class="radius panel">
      <h3>About Flash360 Consulting</h3>
      <blockquote>I love high-performance operating systems and hardware, finding solutions to complicated technical problems, and writing good code. I wrote my first line of Perl in 1998, my first PHP website in 2000, and haven't looked back since. Technology has covered a lot of ground over the past 13+ years and it has been amazing to be a part of it. We now have beautiful development frameworks like Ruby on Rails, browsers starting to conform to standards, JQuery, cloud-based web services, and a host other technologies that make writing software very rewarding.  It is truely a great time to be apart of the industry.  So, please take a moment to see what I've been up to and let me know how I can help.<cite>Jeff Higham - Owner, Flash360 Consulting, LLC</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3>Experience</h3>
    <%= render "work_history" %>
    <h3>Expertise</h3>
    <%= render "expertise" %>
    <h3>Education</h3>
    <%= render "education" %>
  </div>
</div>