<div class="row">
  <div class="large-3 columns">
    <img src="/avatar.jpg"/>
  </div>
  <div class="large-9 columns">
    <div class="radius panel">
      <h3>About Flash360 Consulting</h3>
      <blockquote>My career has been a tale of two lives. I work by day as a Systems Engineer and moonlight as a Web Developer.  Why haven't I chosen one or the other exclusively? To be honest I don't know, perhaps I love both diciplines equally.  Regardless of the reasons, my past indecision has turned to your bennefit.  Myy door is open for business no matter which hat you need me to wear.<br/><cite>Jeff Higham - Owner, Flash360 Consulting, LLC</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="radius  panel">
    <div class="section-container auto " data-section>
      <section>
        <p class="title" data-section-title><a href="#sys-eng">Work History</a></p>
        <div class="content" data-section-content>
          <%= render "work_history" %>
        </div>
      </section>
        <section>
        <p class="title" data-section-title><a href="#skills">Tallent</a></p>
        <div class="content" data-section-content>
          <%= render "tallent" %>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#clients">Clients</a></p>
        <div class="content" data-section-content>
          <%= render "client_showcase" %>
        </div>
      </section>
    </div>
  </div>
  </div>
</div>