 <br/>
 <section class="section">
    <form>
      <div class="row collapse">
        <div class="large-2 columns">
          <label class="inline">Your Name</label>
        </div>
        <div class="large-10 columns">
          <input type="text" id="yourName" placeholder="Jane Smith">
        </div>
      </div>
      <div class="row collapse">
        <div class="large-2 columns">
          <label class="inline"> Your Email</label>
        </div>
        <div class="large-10 columns">
          <input type="text" id="yourEmail" placeholder="jane@smithco.com">
        </div>
      </div>
      <label>What can I help you with?</label>
      <textarea rows="4"></textarea>
      <button type="submit" class="radius button">Submit</button>
    </form>
</section>
         