 <fieldset>
  <legend>Contact</legend>
  <%= form_tag contact_index_path, remote: true, data: { abide: true }  do %>
      <div class="row collapse">

        <div class="large-2 columns">
          <label class="inline">Your Name <small>required</small></label>
        </div>
        
        <div class="large-10 columns name_field">
          <input type="text" id="contact_name" name="mail_form[name]" placeholder="Jane Smith" required>
          <small class="error">Name is required and must be at least one word.</small>
        </div>

      </div>

      <div class="row collapse">
        
        <div class="large-2 columns email_field">
          <label class="inline"> Your Email <small>required</small></label>
        </div>
        
        <div class="large-10 columns">
          <input type="email" id="contact_email" name="mail_form[email]" placeholder="jane@smithco.com" required pattern="email">
          <small class="error">A valid email address required.</small>
        </div>
      
      </div>
      
      <label>What can I help you with? <small>required</small></label>
      <textarea rows="4" id="contact_body" name="mail_form[body]" required></textarea>
      <small class="error">You forgot the message body.</small>
      <button type="submit" class="radius button">Submit</button>
    
    <% end %>
</fieldset>
<a class="close-reveal-modal"><i class="general foundicon-remove"></i></a>         